name: PR checks
on:
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/volkertb/debian-djgpp:v0.2
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Build project
        run: |
          make
          i586-pc-msdosdjgpp-objdump -x output/sbemu.exe
